* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --link-color: #57b1da;
  --netflix: #E50914;

  --kcard-big-width: 280px;
  --kcard-big-height: 160px;
  --kcard-small-width: 148px;
  --kcard-small-height: calc(var(--kcard-small-width) * 0.57142);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found > * {
  margin: 1rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.drama-image-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.drama-info-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 40vw;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  overflow-y: auto;
}

.drama-info-cover {
  display: none;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .drama-info-overlay {
    width: 100vw;
    height: auto;
    position: static;
  }

  .drama-info-cover {
    display: block;
  }
}

.drama-info {
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.drama-info > * {
  margin: 1rem 0;
}

.watch-btn {
  background-color: var(--netflix);
  color: var(--text-color);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0 auto;
}

.kcard {
  display: inline-block;
  width: var(--kcard-big-width);
  height: var(--kcard-big-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.3rem 0;
}

@media screen and (max-width: 768px) {
  .kcard {
    width: var(--kcard-small-width);
    height: var(--kcard-small-height);
  }
}

.home, .user {
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.kcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
  /** align center */
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .kcard-grid {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }
}

.ksearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.ksearch > * {
  margin: 0 1rem;
}

.ksearch-query {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.title {
  margin: 1rem 0;
  text-align: center;
  color: var(--netflix);
  font-size: 2rem;
  font-weight: 600;
  display: block;
}
